In [17]:
# pattern: i
with open('raw_data/000_arithmetic.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i}\n")

In [18]:
# pattern: i * 2
with open('raw_data/000_mul.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i * 2}\n")

In [19]:
with open('raw_data/000_periodic.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i & 1}\n")

In [20]:
with open('raw_data/000_combined.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i},{i*2},{i&1}\n")

In [21]:
import numpy as np
with open('raw_data/001_sine.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{round(np.sin(i*0.1), 3)}\n")

In [22]:
import numpy as np
with open('raw_data/001_sine-comb.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i},{round(np.sin(i*0.1), 3),{i & 1}}\n")

In [23]:
with open('raw_data/000_count-10.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i % 11}\n")

In [24]:
with open('raw_data/001_gears.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{int(i % 2 == 0)},{int(i % 4 == 0)},{int(i % 8 == 0)},{int(i % 16 == 0)}\n")

In [25]:
with open('raw_data/002_time.csv', 'w') as f:
    for i in range(1, 1024*10):
        s = i % 60
        m = i // 60 % 60
        h = i // 3600 % 24
        f.write(f"{h},{m},{s}\n")

In [26]:
with open('raw_data/002_quadratic.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        f.write(f"{x**2 + 2 * x + 5}\n")

In [27]:
with open('raw_data/001_xy.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        y = 2 * x + 5
        f.write(f"{i},{x},{y}\n")

In [28]:
with open('raw_data/002_xyz.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        y = 2 * x + 5
        z = 3 * y + 1
        f.write(f"{i},{x},{y},{z}\n")

In [29]:
with open('raw_data/001_counting.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        ending = '\n' if i % 5 == 0 else ','
        text = f"{x}" + ending
        f.write(text)

In [30]:
with open('raw_data/002_polyrow.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        x = 2 * x + 5
        
        ending = '\n' if i % 5 == 0 else ','
        text = f"{x}" + ending
        f.write(text)

In [1]:
with open('raw_data/train_001_10-20.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 10
        f.write(f"{x + 10}\n")

In [29]:
with open('raw_data/train_001_poly.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        x = 3 * x + 4
        f.write(f"{x}\n")

import pandas as pd
df = pd.read_csv('raw_data/train_001_poly.csv', header=None)
display(df.head())

    0
0   7
1  10
2  13
3  16
4  19

In [3]:
with open('raw_data/train_002_xyz.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        y = x + 2
        z = 3 * y
        f.write(f"{i},{x},{y},{z}\n")

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('raw_data/004_apple.csv', sep=';')
df = df.loc[df.index.repeat(50)]
print(len(df))
display(df.head())
df.to_csv('raw_data/004_apple.csv', index=False, sep=',')

495772

         Date  Price min  Price max
0  08-02-2022        0.8        2.9
1  08-02-2022        0.8        2.9
2  08-02-2022        0.8        2.9
3  08-02-2022        0.8        2.9
4  08-02-2022        0.8        2.9

In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv('raw_data/004_apricot.csv', sep=';')
df = df.loc[df.index.repeat(50)]
print(len(df))
print(df.head())
df.to_csv('raw_data/004_apricot.csv', index=False, sep=',')

7650
         Date  Price min  Price max
0  11-10-2021        0.0        0.0
1  11-10-2021        0.0        0.0
2  11-10-2021        0.0        0.0
3  11-10-2021        0.0        0.0
4  11-10-2021        0.0        0.0

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('raw_data/004_banana.csv', sep=';')
df = df.loc[df.index.repeat(100)]
print(len(df))
print(df.head())
df.to_csv('raw_data/004_banana.csv', index=False, sep=',')

5800
         Date  Price min  Price max
0  28-02-2022        2.0        2.6
1  28-02-2022        2.0        2.6
2  28-02-2022        2.0        2.6
3  28-02-2022        2.0        2.6
4  28-02-2022        2.0        2.6

In [6]:
import pandas as pd

def split_by_location(df):
    """
    Split a dataframe into multiple dataframes based on unique combinations of
    Region, Country, State, and City.
    
    Parameters:
    -----------
    df : pandas.DataFrame
        Input dataframe with columns: Region, Country, State, City, Month, Day, Year, AvgTemperature
    
    Returns:
    --------
    dict
        Dictionary where keys are tuples of (Region, Country, State, City)
        and values are corresponding dataframes
    """
    # Group by location columns
    location_cols = ['Region', 'Country', 'State'] # dropping most outside america
    
    # Create a dictionary to store the split dataframes
    split_dfs = {}
    
    # Get unique combinations of location columns
    unique_locations = df[location_cols].drop_duplicates()
    
    # Split the dataframe for each unique location
    for _, location in unique_locations.iterrows():
        # Create the filter condition
        condition = True
        for col in location_cols:
            condition = condition & (df[col] == location[col])
            
        # Create the key tuple
        location_key = tuple(location[location_cols])
        
        # drop if all Empty Dataframe
        if df[condition].empty:
            print(f"Empty Dataframe for {location_key}")
            continue

        # Store the filtered dataframe
        split_dfs[location_key] = df[condition].copy()
        
        # Sort by date if needed
        split_dfs[location_key].sort_values(['Year', 'Month', 'Day'], inplace=True)
        
        # Reset index
        split_dfs[location_key].reset_index(drop=True, inplace=True)
    
    return split_dfs

In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv('raw_data/city_temperature.csv')
df_dict = split_by_location(df)
print(len(df_dict))
display(df_dict[list(df_dict.keys())[0]])
for i, key in enumerate(df_dict): # dont need too mnay files
    df_dict[key].to_csv(f"raw_data/004_city-temperature-{'-'.join(key)}.csv", index=False, header=True)
    if i > 10:
        break
# df_temp.to_csv('raw_data/004_city-temperature.csv', index=False)

df.to_csv('raw_data/005_city-temperature.csv', index=False)
display(df.head())

/apps/cent7/jupyterhub/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Empty Dataframe for ('Africa', 'Algeria', nan)
Empty Dataframe for ('Africa', 'Burundi', nan)
Empty Dataframe for ('Africa', 'Benin', nan)
Empty Dataframe for ('Africa', 'Central African Republic', nan)
Empty Dataframe for ('Africa', 'Congo', nan)
Empty Dataframe for ('Africa', 'Egypt', nan)
Empty Dataframe for ('Africa', 'Ethiopia', nan)
Empty Dataframe for ('Africa', 'Gabon', nan)
Empty Dataframe for ('Africa', 'Gambia', nan)
Empty Dataframe for ('Africa', 'Guinea', nan)
Empty Dataframe for ('Africa', 'Guinea-Bissau', nan)
Empty Dataframe for ('Africa', 'Ivory Coast', nan)
Empty Dataframe for ('Africa', 'Kenya', nan)
Empty Dataframe for ('Africa', 'Morocco', nan)
Empty Dataframe for ('Africa', 'Madagascar', nan)
Empty Dataframe for ('Africa', 'Mauritania', nan)
Empty Dataframe for ('Africa', 'Malawi', nan)
Empty Dataframe for ('Africa', 'Mozambique', nan)
Empty Dataframe for ('Africa', 'Namibia', nan)
Empty Dataframe for ('Africa', 'Nigeria', nan)
Empty Dataframe for ('Africa', 'Senegal', nan)
Empty Dataframe for ('Africa', 'Sierra Leone', nan)
Empty Dataframe for ('Africa', 'South Africa', nan)
Empty Dataframe for ('Africa', 'Togo', nan)
Empty Dataframe for ('Africa', 'Tunisia', nan)
Empty Dataframe for ('Africa', 'Tanzania', nan)
Empty Dataframe for ('Africa', 'Uganda', nan)
Empty Dataframe for ('Africa', 'Zambia', nan)
Empty Dataframe for ('Asia', 'Bangladesh', nan)
Empty Dataframe for ('Asia', 'China', nan)
Empty Dataframe for ('Asia', 'Hong Kong', nan)
Empty Dataframe for ('Asia', 'India', nan)
Empty Dataframe for ('Asia', 'Indonesia', nan)
Empty Dataframe for ('Asia', 'Japan', nan)
Empty Dataframe for ('Asia', 'Kazakhstan', nan)
Empty Dataframe for ('Asia', 'Kyrgyzstan', nan)
Empty Dataframe for ('Asia', 'Laos', nan)
Empty Dataframe for ('Asia', 'Malaysia', nan)
Empty Dataframe for ('Asia', 'Mongolia', nan)
Empty Dataframe for ('Asia', 'Myanmar (Burma)', nan)
Empty Dataframe for ('Asia', 'Nepal', nan)
Empty Dataframe for ('Asia', 'North Korea', nan)
Empty Dataframe for ('Asia', 'Pakistan', nan)
Empty Dataframe for ('Asia', 'Philippines', nan)
Empty Dataframe for ('Asia', 'Singapore', nan)
Empty Dataframe for ('Asia', 'South Korea', nan)
Empty Dataframe for ('Asia', 'Sri Lanka', nan)
Empty Dataframe for ('Asia', 'Taiwan', nan)
Empty Dataframe for ('Asia', 'Tajikistan', nan)
Empty Dataframe for ('Asia', 'Thailand', nan)
Empty Dataframe for ('Asia', 'Turkmenistan', nan)
Empty Dataframe for ('Asia', 'Uzbekistan', nan)
Empty Dataframe for ('Asia', 'Vietnam', nan)
Empty Dataframe for ('Australia/South Pacific', 'Australia', nan)
Empty Dataframe for ('Australia/South Pacific', 'New Zealand', nan)
Empty Dataframe for ('Europe', 'Albania', nan)
Empty Dataframe for ('Europe', 'Austria', nan)
Empty Dataframe for ('Europe', 'Belarus', nan)
Empty Dataframe for ('Europe', 'Belgium', nan)
Empty Dataframe for ('Europe', 'Bulgaria', nan)
Empty Dataframe for ('Europe', 'Croatia', nan)
Empty Dataframe for ('Europe', 'Cyprus', nan)
Empty Dataframe for ('Europe', 'Czech Republic', nan)
Empty Dataframe for ('Europe', 'Denmark', nan)
Empty Dataframe for ('Europe', 'Finland', nan)
Empty Dataframe for ('Europe', 'France', nan)
Empty Dataframe for ('Europe', 'Germany', nan)
Empty Dataframe for ('Europe', 'Georgia', nan)
Empty Dataframe for ('Europe', 'Greece', nan)
Empty Dataframe for ('Europe', 'Hungary', nan)
Empty Dataframe for ('Europe', 'Iceland', nan)
Empty Dataframe for ('Europe', 'Ireland', nan)
Empty Dataframe for ('Europe', 'Italy', nan)
Empty Dataframe for ('Europe', 'Latvia', nan)
Empty Dataframe for ('Europe', 'Macedonia', nan)
Empty Dataframe for ('Europe', 'The Netherlands', nan)
Empty Dataframe for ('Europe', 'Norway', nan)
Empty Dataframe for ('Europe', 'Poland', nan)
Empty Dataframe for ('Europe', 'Portugal', nan)
Empty Dataframe for ('Europe', 'Romania', nan)
Empty Dataframe for ('Europe', 'Russia', nan)
Empty Dataframe for ('Europe', 'Serbia-Montenegro', nan)
Empty Dataframe for ('Europe', 'Slovakia', nan)
Empty Dataframe for ('Europe', 'Spain', nan)
Empty Dataframe for ('Europe', 'Sweden', nan)
Empty Dataframe for ('Europe', 'Switzerland', nan)
Empty Dataframe for ('Europe', 'Ukraine', nan)
Empty Dataframe for ('Europe', 'United Kingdom', nan)
Empty Dataframe for ('Europe', 'Yugoslavia', nan)
Empty Dataframe for ('Middle East', 'Bahrain', nan)
Empty Dataframe for ('Middle East', 'Israel', nan)
Empty Dataframe for ('Middle East', 'Jordan', nan)
Empty Dataframe for ('Middle East', 'Kuwait', nan)
Empty Dataframe for ('Middle East', 'Lebanon', nan)
Empty Dataframe for ('Middle East', 'Oman', nan)
Empty Dataframe for ('Middle East', 'Qatar', nan)
Empty Dataframe for ('Middle East', 'Saudi Arabia', nan)
Empty Dataframe for ('Middle East', 'Syria', nan)
Empty Dataframe for ('Middle East', 'Turkey', nan)
Empty Dataframe for ('Middle East', 'United Arab Emirates', nan)
Empty Dataframe for ('North America', 'Canada', nan)
Empty Dataframe for ('North America', 'Mexico', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Argentina', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Bahamas', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Bermuda', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Belize', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Bolivia', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Barbados', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Brazil', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Colombia', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Costa Rica', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Cuba', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Dominican Republic', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Equador', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Guatemala', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Guyana', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Haiti', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Honduras', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Nicaragua', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Panama', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Peru', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Suriname', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Uruguay', nan)
Empty Dataframe for ('South/Central America & Carribean', 'Venezuela', nan)
52

,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,North America,US,Alabama,Birmingham,1,1,1995,50.7
1,North America,US,Alabama,Huntsville,1,1,1995,48.8
2,North America,US,Alabama,Mobile,1,1,1995,59.3
3,North America,US,Alabama,Montgomery,1,1,1995,55.5
4,North America,US,Alabama,Birmingham,1,2,1995,37.2
...,...,...,...,...,...,...,...,...
37055,North America,US,Alabama,Montgomery,5,12,2020,64.1
37056,North America,US,Alabama,Birmingham,5,13,2020,64.7
37057,North America,US,Alabama,Huntsville,5,13,2020,57.5
37058,North America,US,Alabama,Mobile,5,13,2020,64.2
37059,North America,US,Alabama,Montgomery,5,13,2020,63.6

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [16]:
import pandas as pd

df = pd.read_csv('raw_data/multiTimeline.csv', skiprows=3)
df = df.loc[df.index.repeat(100)]
print(len(df))
print(df.head())
df.to_csv('raw_data/003_christmas.csv', index=False)

# halloween
df = pd.read_csv('raw_data/multiTimeline-2.csv', skiprows=3)
df = df.loc[df.index.repeat(100)]
print(len(df))
print(df.head())
df.to_csv('raw_data/003_halloween.csv', index=False)

# football
df = pd.read_csv('raw_data/multiTimeline-3.csv', skiprows=3)
df = df.loc[df.index.repeat(100)]
print(len(df))
print(df.head())
df.to_csv('raw_data/003_football.csv', index=False)

26100
   2019-12-01  53
0  2019-12-08  55
0  2019-12-08  55
0  2019-12-08  55
0  2019-12-08  55
0  2019-12-08  55
26100
   2019-12-01  2
0  2019-12-08  2
0  2019-12-08  2
0  2019-12-08  2
0  2019-12-08  2
0  2019-12-08  2
26100
   2019-12-01  52
0  2019-12-08  41
0  2019-12-08  41
0  2019-12-08  41
0  2019-12-08  41
0  2019-12-08  41