In [17]:
# pattern: i
with open('raw_data/000_arithmetic.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i}\n")

In [18]:
# pattern: i * 2
with open('raw_data/000_mul.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i * 2}\n")

In [19]:
with open('raw_data/000_periodic.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i & 1}\n")

In [20]:
with open('raw_data/000_combined.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i},{i*2},{i&1}\n")

In [21]:
import numpy as np
with open('raw_data/001_sine.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{round(np.sin(i*0.1), 3)}\n")

In [22]:
import numpy as np
with open('raw_data/001_sine-comb.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i},{round(np.sin(i*0.1), 3),{i & 1}}\n")

In [23]:
with open('raw_data/000_count-10.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{i % 11}\n")

In [24]:
with open('raw_data/001_gears.csv', 'w') as f:
    for i in range(1, 1024*10):
        f.write(f"{int(i % 2 == 0)},{int(i % 4 == 0)},{int(i % 8 == 0)},{int(i % 16 == 0)}\n")

In [25]:
with open('raw_data/002_time.csv', 'w') as f:
    for i in range(1, 1024*10):
        s = i % 60
        m = i // 60 % 60
        h = i // 3600 % 24
        f.write(f"{h},{m},{s}\n")

In [26]:
with open('raw_data/002_quadratic.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        f.write(f"{x**2 + 2 * x + 5}\n")

In [27]:
with open('raw_data/001_xy.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        y = 2 * x + 5
        f.write(f"{i},{x},{y}\n")

In [28]:
with open('raw_data/002_xyz.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        y = 2 * x + 5
        z = 3 * y + 1
        f.write(f"{i},{x},{y},{z}\n")

In [29]:
with open('raw_data/001_counting.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        ending = '\n' if i % 5 == 0 else ','
        text = f"{x}" + ending
        f.write(text)

In [30]:
with open('raw_data/002_polyrow.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        x = 2 * x + 5
        
        ending = '\n' if i % 5 == 0 else ','
        text = f"{x}" + ending
        f.write(text)

In [1]:
with open('raw_data/train_001_10-20.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 10
        f.write(f"{x + 10}\n")

In [2]:
with open('raw_data/train_001_poly.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        x = 3 * x + 4
        f.write(f"{x}\n")

In [3]:
with open('raw_data/train_002_xyz.csv', 'w') as f:
    for i in range(1, 1024*10):
        x = i % 100
        y = x + 2
        z = 3 * y
        f.write(f"{i},{x},{y},{z}\n")

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('raw_data/004_apple.csv', sep=';')
df = df.loc[df.index.repeat(50)]
print(len(df))
display(df.head())
df.to_csv('raw_data/004_apple.csv', index=False, sep=',')

495772

         Date  Price min  Price max
0  08-02-2022        0.8        2.9
1  08-02-2022        0.8        2.9
2  08-02-2022        0.8        2.9
3  08-02-2022        0.8        2.9
4  08-02-2022        0.8        2.9

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('raw_data/004_apricot.csv')
df = df.loc[df.index.repeat(50)]
print(len(df))
print(df.head())
df.to_csv('raw_data/004_apricot.csv', index=False, sep=',')

7650
  Date;Price min;Price max
0       11-10-2021;0.0;0.0
1       11-10-2021;0.0;0.0
2       11-10-2021;0.0;0.0
3       11-10-2021;0.0;0.0
4       11-10-2021;0.0;0.0

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('raw_data/004_banana.csv')
df = df.loc[df.index.repeat(100)]
print(len(df))
print(df.head())
df.to_csv('raw_data/004_banana.csv', index=False, sep=',')

5800
  Date;Price min;Price max
0       28-02-2022;2.0;2.6
1       28-02-2022;2.0;2.6
2       28-02-2022;2.0;2.6
3       28-02-2022;2.0;2.6
4       28-02-2022;2.0;2.6

In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv('raw_data/city_temperature.csv')
# remove all but avgTemp
df_temp = df[['AvgTemperature']]
display(df_temp.head())
df_temp.to_csv('raw_data/004_city-temperature.csv', index=False)

df.to_csv('raw_data/005_city-temperature.csv', index=False)
display(df.head())

/var/folders/8v/kyhpjx6d3y1b7dp0twz_83sw0000gn/T/ipykernel_36683/2924597830.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('raw_data/city_temperature.csv')

   AvgTemperature
0            64.2
1            49.4
2            48.8
3            46.4
4            47.9

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [16]:
import pandas as pd

df = pd.read_csv('raw_data/multiTimeline.csv', skiprows=3)
df = df.loc[df.index.repeat(100)]
print(len(df))
print(df.head())
df.to_csv('raw_data/003_christmas.csv', index=False)

# halloween
df = pd.read_csv('raw_data/multiTimeline-2.csv', skiprows=3)
df = df.loc[df.index.repeat(100)]
print(len(df))
print(df.head())
df.to_csv('raw_data/003_halloween.csv', index=False)

# football
df = pd.read_csv('raw_data/multiTimeline-3.csv', skiprows=3)
df = df.loc[df.index.repeat(100)]
print(len(df))
print(df.head())
df.to_csv('raw_data/003_football.csv', index=False)

26100
   2019-12-01  53
0  2019-12-08  55
0  2019-12-08  55
0  2019-12-08  55
0  2019-12-08  55
0  2019-12-08  55
26100
   2019-12-01  2
0  2019-12-08  2
0  2019-12-08  2
0  2019-12-08  2
0  2019-12-08  2
0  2019-12-08  2
26100
   2019-12-01  52
0  2019-12-08  41
0  2019-12-08  41
0  2019-12-08  41
0  2019-12-08  41
0  2019-12-08  41